<header>
  <img src="{{ 'Characters_logo.svg' | asset_url }}" width="50px" class="HeaderLogo">
  <ul class="HeaderBar">
    <li><a href="/">Home</a></li>
    <li><a href="/collections/all">Products</a></li>
    <li><a href="/pages/about-us">About Us</a></li>
    <li><a href="/pages/contact">Contact</a></li>
  </ul>
  <ul class="HeaderShopping">
    <li>
      <img src="{{ 'cart.svg' | asset_url }}" width="25px">
    </li>
    <li>
      <img src="{{ 'search.svg' | asset_url }}" width="25px">
    </li>
  </ul>
</header>
