{% comment %} sections/banner.liquid {% endcomment %}
<div class="banner">
    <div class="bannerContent">
        <h1>Lazy Day</h1>
        <p>We have the best characters</p>
    </div>
</div>

{% schema %}
{
    "name": "Banner",
    "presets": 
    [
        {
            "name": "Banner",
            "category": "Custom"
        }
    ]
}
{% endschema %}